  
  footer {
    /* padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    white-space: nowrap;
    position: fixed;

    bottom: 0;

    justify-items: center; 
    height: 50px;
    background-color: #1d1d1d28;
    z-index: -22; */
  }
